/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#todo-list {
  max-width: 500px;
  margin: 60px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #4e9abf;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-text {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-actions button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff;
  background-color: #e15757;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-actions button.edit-button {
  background-color: #4e9abf;
}

.todo-actions button:hover {
  background-color: #c53131;
}

.todo-actions button.edit-button:hover {
  background-color: #2c769e;
}

.todo-actions button:active {
  background-color: #a32f2f;
}

.todo-actions button.edit-button:active {
  background-color: #1f506d;
}

.todo-actions button:focus {
  outline: none;
}

.todo-edit-input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-completed {
  text-decoration: line-through;
  color: #999999;
}

.todo-completed .todo-text {
  color: #999999;
}

.todo-completed .todo-actions button {
  background-color: #cccccc;
  cursor: not-allowed;
}

.todo-completed .todo-actions button:hover {
  background-color: #cccccc;
}

.todo-completed .todo-actions button:active {
  background-color: #cccccc;
}

.todo-completed .todo-actions button.edit-button {
  background-color: #4e9abf;
  cursor: pointer;
}

.todo-completed .todo-actions button.edit-button:hover {
  background-color: #2c769e;
}

.todo-completed .todo-actions button.edit-button:active {
  background-color: #1f506d;
}